
  <video autoplay muted loop id="myVideo">
    <source [src]="'assets/video/firstpage.mp4'" type="video/mp4">
  </video>
  <div class="content">
    <img *ngIf="showPlayButton" src="assets/img/play.png"(click)="play()" style="max-width: 75px;"> <br>

    <button *ngIf="!showPlayButton" class="btn btn-lg btn-secondary" (click)="goToLandingPage()" > Enter site</button>
  </div>