
<div class="wrapper">
  <div class="page-header page-header" style="margin-top: 70px">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" >
      <slideshow #slideshow
      [imageUrls]="imageUrls"
      [height]="height"
      [minHeight]="minHeight"
      [arrowSize]="arrowSize"
      [showArrows]="showArrows"
      [disableSwiping]="disableSwiping"
      [autoPlay]="autoPlay"
      [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
      [debug]="debug"
      [backgroundSize]="backgroundSize"
      [backgroundPosition]="backgroundPosition"
      [backgroundRepeat]="backgroundRepeat"
      [showDots]="showDots"
      [dotColor]="dotColor"
      [showCaptions]="showCaptions"
      [captionColor]="captionColor"
      [captionBackground]="captionBackground"
      [lazyLoad]="lazyLoad">
      </slideshow>
    </div>

  </div>

  <div class="section section-team text-center" style="background-color: #385364">
    <div class="container" >
      <h2 class="title" style="color: #ffffff">MISS EUROPA 2019</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m1.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m2.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m3.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m4.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m5.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m6.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m7.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m8.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m9.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>
          <div class="col-md-3">
            <div class="team-player">
              <img src="assets/img/m10.PNG" alt="Thumbnail Image" class=" img-fluid img-raised" style="max-width: 150px">
              <br><br>
              <h6 class="title" style="color: #ffffff">Firstname Lastname</h6>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
