<nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <!--<div ngbDropdown>-->
          <!--<a class="dropdown-toggle" ngbDropdownToggle>-->
              <!--<span class="button-bar"></span>-->
              <!--<span class="button-bar"></span>-->
              <!--<span class="button-bar"></span>-->
          <!--</a>-->
           <!--<div ngbDropdownMenu>-->
             <!--<a class="dropdown-header">Dropdown header</a>-->
             <!--<a class="dropdown-item" href="#">Action</a>-->
             <!--<a class="dropdown-item" href="#">Another action</a>-->
             <!--<a class="dropdown-item" href="#">Something else here</a>-->
             <!--<div class="dropdown-divider"></div>-->
             <!--<a class="dropdown-item" href="#">Separated link</a>-->
             <!--<div class="dropdown-divider"></div>-->
             <!--<a class="dropdown-item" href="#">One more separated link</a>-->
           <!--</div>-->
         <!--</div>-->
      </div>
        <div class="navbar-translate">

            <img class="n-logo" src="assets/img/banner.jpg" [routerLink]="['/public/landingPage']"
                 style="max-width: 150px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" >
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link"  target="_blank">
                      <p>Content 1</p>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link"  target="_blank">
                        <p>Content 2</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  target="_blank">
                        <p>Content 3</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  target="_blank">
                        <p>Content 4</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  target="_blank">
                        <p>Content 5</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  target="_blank">
                        <p>Content 6</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
