.sidebar-collapse .navbar-collapse:before {
  /* background: #f96332; */
  /* background: -webkit-gradient(linear, left top, left bottom, from(#f96332), color-stop(80%, #000)); */
  /* background: linear-gradient(#f96332 0%, #000 80%); */
  /* opacity: 0.76; */
  filter: alpha(opacity=76);
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}